[{include file="headitem.tpl" title="GENERAL_ADMIN_TITLE"|oxmultilangassign box="list"}]

<div class="container-fluid" style="text-align:center;margin-bottom:5px">
    <img style="width:20%" src="../modules/ewald/fnac/out/img/fnac.png">
</div>
<div class="container-fluid" >
    <div class="row">
        <div class="col-8">
            <div class="card bg-light">
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card bg-light">
                <div class="card-header">
                    <h2>Angebotsdaten aktualisieren</h2>
                </div>
                <div class="card-body card-product-data">
                </div>
            </div>
        </div>
    </div>
</div>
